@font-face {
    font-family: 'UQB';
    src: url('../font/ukij-qara-bold.ttf') format('truetype');
}

body {
    font-family: "UQB", Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #2E86C1;
    color: black;
    transition: background-color 0.3s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin-top: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px red;
    padding: 1rem;
}

.game-card,
.modal-content {
    background-color: #f8f9fa;
    border-radius: 0.25rem;
    padding: 1.25rem;
    max-width: none;
}

.game-card {
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
    border: 0.1875rem solid rgba(0, 0, 0, 0.125);
}

button {
    font-family: inherit;
    font-size: 1rem;
    background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1.25rem;
    box-shadow: 0 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-0.1875rem);
    box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.3);
    transition: 0.6s;
}

button span {
    display: block;
    margin-left: 0.4em;
}

.btn-info,
.btn-success {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 6.25rem;
    height: 6.25rem;
    padding: 0.625rem;
}

.myButton {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    margin-top: 1.25rem;
    color: black;
    font-size: 1rem;
    border: none;
    border-radius: 0.625rem;
    background-color: #1ABC9C;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

.myButton:hover {
    background: transparent;
    box-shadow: 0 0 1.25rem 0.3125rem linear-gradient(to top left, #A1E3D5, red);
    background-color: #E74C3C;
}

.myButton::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, green, #218838);
    pointer-events: none;
    z-index: 1;
    opacity: 0.5;
    transform: rotate(45deg);
    animation: noise 1s infinite linear alternate-reverse;
    transition: 0.6s;
}

@keyframes noise {
    0% {
        transform: rotate(45deg) translate(-50%, -50%);
    }
    100% {
        transform: rotate(45deg) translate(50%, 50%);
    }
}

.modal-content {
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2), 0 0 0 0.1875rem #FFC300;
}

.modal-header,
.modal-footer {
    border: 0.1875rem solid #dee2e6;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-title {
    color: #6D214F;
}

/* Стили ввода значений в модальном окне */
.form-control {
    margin-bottom: 0.625rem;
}

#orderNumberField,
#answerField {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.625rem 0;
    width: 5rem;
    height: 2.5rem;
}

.btn-group {
    margin-top: 1.25rem;
}

button#btnEqual.myButton {
    background: linear-gradient(to bottom, #28a745 0%, #218838 100%);
}

/* Удаление анимации у всех кнопок кроме кнопки "Верно" */
button.myButton:not(#btnEqual)::before {
    content: none;
}

.close, .close:hover {
    background: none;
    box-shadow: none;
}

/* Медиа запросы для адаптации под мобильные устройства */
@media (max-width: 768px) {
    .container {
        margin-top: 2rem;
        padding: 0.5rem;
    }

    .game-card {
        padding: 1rem;
    }

    button {
        font-size: 0.875rem;
        padding: 0.625em 1em;
        border-radius: 1rem;
    }

    .btn-info,
    .btn-success {
        font-size: 0.875rem;
        width: 5rem;
        height: 5rem;
    }

    #orderNumberField,
    #answerField {
        font-size: 1.25rem;
        width: 4rem;
        height: 2rem;
    }

    .myButton {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }

    button .svg-wrapper {
        width: 1.5rem;
        height: 1.5rem;
    }

    button svg {
        width: 1rem;
        height: 1rem;
    }

    .btn-info,
    .btn-success {
        padding: 0.5rem;
    }
}